* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 0;
    width: 60%;
    margin: 0 auto;
    gap: 20px;
}

#top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-field {
    width: 100%;
    padding: 8px 48px 8px 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #888;
}

.search-bar > button {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    padding: 8px;
    background-color: transparent;
    width: 40px;
    height: 100%;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-left: 1px solid #888;
}

#movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-auto-rows: 1fr;
    justify-content: space-between;
    row-gap: 32px;
    margin-top: 20px;
    width: 100%;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.movie-card:hover {
    transform: scale(1.02);
}

.card-img-container {
    width: 180px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-container > img {
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    width: 100%;
    display: block;
}

#movie-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 12px;
    text-align: center;
}

#movie-year {
    font-size: 14px;
    font-weight: 500;
    margin-top: 2px;
    color: #666;
    text-align: center;
}

.detail-img-container {
    width: 270px;
    flex-shrink: 0;
}

.detail-img {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    display: block;
}

.detail-container {
    display: flex;
    gap: 24px;
    padding: 24px;
}

.detail-text-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}